@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark;
  }

  html,
  body,
  #root {
    min-height: 100vh;
    background-color: var(--color-black);
    color: var(--color-gray-100);
  }
}
